<!DOCTYPE html>
<html>
<head>
  <title>Rails4Example</title>
  <%= stylesheet_link_tag    'application', media: 'all' %><%#, 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %><%#, 'data-turbolinks-track' => true %>
  <!-- Material Design icon font -->
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons", media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">LinkPlayer</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <%= render 'layouts/navigation' %>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">LinkPlayer</span>
      <nav class="mdl-navigation">
        <%= render 'layouts/navigation' %>
      </nav>
    </div>
    <main role="main" class="mdl-layout__content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col"><%= render 'layouts/messages' %></div>
      </div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-color--white mdl-shadow--4dp content mdl-cell mdl-cell--8-col"><%= yield %></div>
      </div>
    </main>
  </div>
</body>
</html>
